<div class="separator"></div>

<!-- BOX -->
<div class="box border">
    <div class="box-title">
        <h4><i class="fa fa-table"></i>用户信息</h4>
    </div>
    <div class="box-body" style="padding: 5px 20px 5px 5px">
        <div class="btn-group">
            <button type="button" class="btn btn-sm myNavBtn active" onclick="add()"><i class="fa fa-plus"></i>新建记录
            </button>
            <button type="button" class="btn btn-sm myNavBtn active" onclick="edit()"><i class="fa fa-edit"></i>编辑记录
            </button>
            <button type="button" class="btn btn-sm myNavBtn active" onclick="save()"><i class="fa fa-save"></i>保存记录
            </button>
            <button type="button" class="btn btn-sm myNavBtn active" onclick="del()"><i class="fa fa-ruble"></i>删除记录
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#listTab" data-toggle="tab">
                    <i class="fa fa-home"></i>用户信息</a>
                </li>

                <li><a href="#detailTab" data-toggle="tab">
                    <i class="fa fa-flag"></i>用户详细信息</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="listTab">
                    <table id="userListTable" class=" table table-striped table-bordered table-hover"
                           data-toggle="bootgrid"
                           data-selection="true" data-multi-select="true" data-row-select="true"
                           data-keep-selection="true"
                           data-ajax="true"
                           data-url="/user/data">
                        <thead>
                        <tr>
                            <th data-column-id="id" data-width="6%">序号</th>
                            <th data-column-id="id" data-type="numeric" data-identifier="true"
                                data-visible="false"
                                data-width="6%">ID
                            </th>
                            <th data-column-id="userName" data-width="20%">用户名称</th>
                            <th data-column-id="status" data-width="20%">用户状态</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade in " id="detailTab">
                    <div class="divide-10"></div>
                    <form class="form-horizontal myform" role="form" id="detailForm">
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="eqCode">用户名称</label>
                            <div class="col-md-3">
                                <input class="form-control" id="eqCode" type="text" name="userName"
                                       v-model="user.userName"/>
                            </div>
                            <label for="description" class="col-md-1 control-label">用户昵称</label>
                            <div class="col-md-3">
                                <input class="form-control" id="nickName" type="text" name="nickName"
                                       v-model="user.nickName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="locations_id" class="col-md-1 control-label">关联人员</label>
                            <div class="col-md-3">
                                <select v-model="user.person.id" id="person_id" name="person.id"
                                        required style="width:100%" required>
                                    <template v-for="option in personList">
                                        <option :value="option.id" v-if="option.id == user.person.id"
                                                selected>
                                            {{option.personName}}
                                        </option>
                                        <option :value="option.id" v-else>
                                            {{option.personName }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                            <label for="status" class="col-md-1 control-label">用户状态</label>
                            <div class="col-md-3">
                                <select v-model="user.status" id="status" name="status"
                                        required style="width:100%" required>
                                    <template v-for="option in statusList">
                                        <option :value="option.value" v-if="option.value == user.status"
                                                selected>
                                            {{option.text }}
                                        </option>
                                        <option :value="option.value" v-else>
                                            {{option.text }}
                                        </option>
                                    </template>
                                </select>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /BOX -->
    </div>
</div>
<!-- /DATA TABLES -->
<script type="text/javascript" src="js/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/datatables/media/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script>
    jQuery(document).ready(function () {

        jQuery.ajaxSettings.async = false;
        // $("#userListTable").bootgrid();

        var dataTableName = "#userListTable";

        pointer = 0;
        initBootGrid(dataTableName);


        //查询所有的id

        selectedIds = findAllId("user");

        console.info("id=============="+selectedIds[pointer]);
        var url = "/person/findAll";
        var personList = getData(url);
        var statusList = [{value: "1", text: "启用"}, {value: "0", text: "禁用"}];
        var user = findById("user", selectedIds[pointer]);
        var vdm = new Vue({
            el: "#detailForm",
            data: {
                personList: personList,
                statusList: statusList,
                user: user
            }
        });

        initSelect();


        /*  // initSelect();
          //请求人员信息
       */
    });


    /**
     * @param url ajax请求
     */
    function getData(url) {
        var obj = null;
        $.getJSON(url, function (data) {
            obj = data;
        })
        return obj;
    }
    /**
     *
     * @param objName
     * @param id
     * @returns {*}
     */
    function findById(objName, id) {
        var object = null;
        var url = objName + "/" + id;
        $.getJSON(url, function (data) {
            object = data;
        });
        return object;
    }


    /**
     * 查询所有的id
     * @param objName 实体名称小写
     * @return {*} 返回id集合
     */
    function findAllId(objName) {
        var idList = null;
        var url = objName + "/findAllId";
        $.getJSON(url, function (data) {
            idList = data;
        });
        return idList;
    }
</script>