<div class="separator"></div>
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>应用信息</h4>
            </div>
            <div class="box-body" style="padding: 5px 20px 5px 5px">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm myNavBtn active" onclick="genApp()">生成应用</button>
                </div>
            </div>
            <div class="box-body">
                <table id="appListTable" class=" table table-striped table-bordered table-hover" data-toggle="bootgrid"
                       data-selection="true" data-multi-select="true" data-row-select="true" data-keep-selection="true"
                       data-ajax="true"
                       data-url="/app/data">
                    <thead>
                    <thead>
                    <tr>
                        <th data-column-id="id" data-width="6%">序号</th>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false"
                            data-width="6%">ID
                        </th>
                        <th data-column-id="appName" data-width="20%">应用名称</th>
                        <th data-column-id="appDesc" data-width="20%">应用描述</th>
                        <th data-column-id="packageName" data-width="30%">包名称</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- /BOX -->
    </div>
</div>
<!-- /DATA TABLES -->
<script type="text/javascript" src="js/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/datatables/media/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script>


    var dataTableName = "#appListTable";
    jQuery(document).ready(function () {
        $(dataTableName).bootgrid();
    });


    var selectedId = null;
    /**
     *生成app
     */
    function genApp() {
        console.log("生成app--------------");
        getSelectedId();


    }


    function getSelectedId() {
        var rows = $(dataTableName).bootgrid("getSelectRows");


        console.log("rows-------------"+JSON.stringify(rows));
    }
</script>